{% extends "layout.html" %}

{% block title %}{{ function.title }}{% endblock %}

{% block homedir %}../{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1>{{ stage.fullname }}</h1>
		<ul class="nav nav-tabs">
			<li><a href="{{ stage.url }}">Overview</a></li>
			<li class="active"><a href="{{ stage.first_function.url }}">Functions</a></li>
		</ul>
		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-xs-2">
						{% if function.prev %}
							<a href="{{ function.prev.url }}" class="btn btn-default">&laquo; Prev</a>
						{% else %}
							<a class="btn btn-default disabled">&laquo; Prev</a>
						{% endif %}
					</div>
					<div class="col-xs-8">
						<ul class="nav nav-pills">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ function.title }} <span class="caret"></span></a>
								<div class="dropdown-menu" style="width:700px">
									<div style="padding:15px">
										<div class="row">
											<ul class="list-unstyled col-xs-4">
												{% for func in stage_functions[0:col_len] %}
													<li{% if func.id == function.id %} class="active"{% endif %}><a href="{{ func.url }}">{{ func.title }}</a></li>
												{% endfor %}
											</ul>
											<ul class="list-unstyled col-xs-4">
												{% for func in stage_functions[col_len:col_len*2] %}
													<li{% if func.id == function.id %} class="active"{% endif %}><a href="{{ func.url }}">{{ func.title }}</a></li>
												{% endfor %}
											</ul>
											<ul class="list-unstyled col-xs-4">
												{% for func in stage_functions[col_len*2:] %}
													<li{% if func.id == function.id %} class="active"{% endif %}><a href="{{ func.url }}">{{ func.title }}</a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-xs-2 text-right">
						{% if function.next %}
							<a href="{{ function.next.url }}" class="btn btn-default">Next &raquo;</a>
						{% else %}
							<a class="btn btn-default disabled">Next &raquo;</a>
						{% endif %}
					</div>
				</div>

				<table class="table table-condensed">
					{% for instruction in function['instructions'] %}
						<tr>
							<td width="1%"><code>{{ ('%02x' if game == 'ge' else '%04x') % instruction.type }}{{ instruction.params.hex() }}</code></td>
							<td>
								{% if 'handler' in instruction %}
									{{ instruction.handler(instruction, stage)|safe }}
								{% else %}
									{{ generator.markupDescription(function, instruction.description)|safe }}
								{% endif %}
								</td>
							</tr>
					{% endfor %}
				</table>
			</div>
			<div class="col-md-6">
				{% if invocations %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Invocations</h3>
						</div>
						<div class="panel-body">
							<ul>
								{% for invocation in invocations %}
									<li>{{ invocation|safe }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% elif function.id >= 1024 %}
					<div class="alert alert-warning">
						<p>This function doesn't appear to be invoked anywhere.</p>
					</div>
				{% endif %}

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Comments</h3>
					</div>
					<div class="panel-body">
						{% if function.comments %}
							<p>{{ function.comments.replace('\n', '<br>')|safe }}</p>
						{% else %}
							<p>There are no comments yet for this function.</p>
						{% endif %}
					</div>
					<div class="panel-footer">
						<a href="https://gitlab.com/ryandwyer/gepd-function-explorer" class="small">Submit an annotation</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
