<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link href="{% block homedir %}{% endblock %}assets/bootstrap.min.css" rel="stylesheet">
		<link href="{{ self.homedir() }}assets/main.css" rel="stylesheet">
    </head>
    <body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ self.homedir() }}index.html">GE/PD Function Explorer</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% if 'geUSF' in games %}
						<li class="dropdown{% if game == 'geUSF' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">GoldenEye US Final <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in ge_stages %}
									<li{% if game == 'geUSF' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}geUSF/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'geEUF' in games %}
						<li class="dropdown{% if game == 'geEUF' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">GoldenEye EU Final <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in ge_stages %}
									<li{% if game == 'geEUF' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}geEUF/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'geJPF' in games %}
						<li class="dropdown{% if game == 'geJPF' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">GoldenEye JP Final <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in ge_stages %}
									<li{% if game == 'geJPF' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}geJPF/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'pdUSF' in games %}
						<li class="dropdown{% if game == 'pdUSF' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfect Dark US Final <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in pd_stages %}
									<li{% if game == 'pdUSF' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}pdUSF/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'pdEUF' in games %}
						<li class="dropdown{% if game == 'pdEUF' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfect Dark EU Final <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in pd_stages %}
									<li{% if game == 'pdEUF' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}pdEUF/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'pdJPF' in games %}
						<li class="dropdown{% if game == 'pdJPF' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfect Dark JP Final <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in pd_stages %}
									<li{% if game == 'pdJPF' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}pdJPF/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'geUSB' in games %}
						<li class="dropdown{% if game == 'geUSB' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">GoldenEye US Beta <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in ge_stages %}
									<li{% if game == 'geUSB' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}geUSB/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'geEUB' in games %}
						<li class="dropdown{% if game == 'geEUB' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">GoldenEye EU Beta <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in ge_stages %}
									<li{% if game == 'geEUB' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}geEUB/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'geJPB' in games %}
						<li class="dropdown{% if game == 'geJPB' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">GoldenEye JP Beta <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in ge_stages %}
									<li{% if game == 'geJPB' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}geJPB/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'pdUSB' in games %}
						<li class="dropdown{% if game == 'pdUSB' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfect Dark US Beta <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in pd_stages %}
									<li{% if game == 'pdUSB' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}pdUSB/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'pdUSR' in games %}
						<li class="dropdown{% if game == 'pdUSR' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfect Dark US Release <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in pd_stages %}
									<li{% if game == 'pdUSR' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}pdUSR/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'pdEUB' in games %}
						<li class="dropdown{% if game == 'pdEUB' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfect Dark EU Beta <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in pd_stages %}
									<li{% if game == 'pdEUB' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}pdEUB/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% if 'pdJPB' in games %}
						<li class="dropdown{% if game == 'pdJPB' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfect Dark JP Beta <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in pd_stages %}
									<li{% if game == 'pdJPB' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{% if game != none %}../{% endif %}pdJPB/{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		{% block content %}{% endblock %}

		<script src="{{ self.homedir() }}assets/jquery.min.js"></script>
		<script src="{{ self.homedir() }}assets/bootstrap.min.js"></script>
    </body>
</html>
