{% extends "layout.html" %}

{% block title %}{{ stage.fullname }}{% endblock %}

{% block homedir %}../{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1>{{ stage.fullname }}</h1>
		<ul class="nav nav-tabs">
			<li class="active"><a href="{{ stage.url }}">Overview</a></li>
			<li><a href="{{ stage.first_function.url }}">Functions</a></li>
		</ul>
		<br>

		<div class="row">
			<div class="col-md-4">
				<h2>Functions</h2>

				<ul>
					{% for function in functions %}
						<li><a href="{{ function.url }}">{{ function.title }}</a>
					{% endfor %}
				</ul>
			</div>

			<div class="col-md-4">
				{% if actors %}
					<h2>Actors</h2>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Initial Function</th>
							</tr>
						</thead>
						<tbody>
							{% for actor in actors %}
								<tr>
									<td>{{ '%02x' % actor.id }}</td>
									<td>{{ actor.name }}</td>
									<td><a href="{{ actor.function.url }}">{{ actor.function.title }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>

			<div class="col-md-4">
				{% if objects %}
					<h2>Objects</h2>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Initial Function</th>
							</tr>
						</thead>
						<tbody>
							{% for object in objects %}
								<tr>
									<td>{{ '%02x' % object.id }}</td>
									<td>{{ object.name }}</td>
									<td>
										{% if object.function %}
											<a href="{{ object.function.url }}">{{ object.function.title }}
										{% else %}
											<em class="text-muted">None</em>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
