.speech {
	background: #fff;
	border: solid 1px #eee;
	color: #eee;
	float: left;
	padding: 3px;
	font-weight: bold;
}
.speech-blue {
	border-color: #00f;
	color: #03f;
}
.speech-green {
	border-color: #090;
	color: #090;
}
.speech-orange {
	border-color: #f90;
	color: #f90;
}
.speech-red {
	border-color: #900;
	color: #900;
}
.speech-ge {
	background-color: #eee;
	color: #333;
	padding: 5px 10px;
}

